In [1]:
import sqlite3

db_file = 'output.db'
conn = sqlite3.connect(db_file)
cursor = conn.cursor()
cursor.execute(".schema")
schema = cursor.fetchall()
print(schema)

OperationalError: near ".": syntax error

In [3]:
import sqlite3

conn = sqlite3.connect('output.db')
cursor = conn.cursor()
cursor.execute("PRAGMA table_info(output)")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [4]:
import sqlite3

conn = sqlite3.connect('output.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM sqlite_master")
rows = cursor.fetchall()
for row in rows:
    print(row)

('table', 'mytable', 'mytable', 2, 'CREATE TABLE "mytable" (\n"reviewerID" TEXT,\n  "asin" TEXT,\n  "reviewerName" TEXT,\n  "helpful" TEXT,\n  "reviewText" TEXT,\n  "overall" REAL,\n  "summary" TEXT,\n  "unixReviewTime" INTEGER,\n  "reviewTime" TEXT,\n  "day_diff" INTEGER,\n  "helpful_yes" INTEGER,\n  "total_vote" INTEGER\n)')

In [6]:
import sqlite3

connection = sqlite3.connect("output.db")
cursor = connection.cursor()

# Query to list all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in database:", tables)

connection.close()

Tables in database: [('mytable',), ('output',)]